# Ignore everything
*

# But not these files...
!.gitignore
!rag_server.py
!eval.py
!eval.json
!LangChain_Advanced_RAG_CombinedRetrieval.py
!Advanced_RAG_CombinedRetrieval.py
!LRM_Advanced_RAG_CombinedRetrieval.py
!Agentic_RAG.py